@page "/order-details"
@layout MainLayout
@inherits NwBlazor.Pages.OrderDetailsComponent

@using Radzen
@using Radzen.Blazor
@using NwBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Order Details">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getOrdersResult" TItem="NwBlazor.Models.Northwind.Order" RowExpand="@Grid0RowExpand" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" FormatString="{0:d}" Property="OrderDate" Title="Order Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" FilterProperty="Employee.LastName" Property="EmployeeID" SortProperty="Employee.LastName" Title="Employee">
              <Template Context="data">
              @(data.Employee?.LastName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" FilterProperty="Shipper.CompanyName" Property="ShipVia" SortProperty="Shipper.CompanyName" Title="Shipper">
              <Template Context="data">
              @(data.Shipper?.CompanyName)
              </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Property="Freight" Title="Freight">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Property="ShipName" Title="Ship Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Property="ShipAddress" Title="Ship Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Property="ShipCity" Title="Ship City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Property="ShipRegion" Title="Ship Region">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Property="ShipPostalCode" Title="Ship Postal Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NwBlazor.Models.Northwind.Order" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="nwBlazorModelsNorthwindOrder">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, nwBlazorModelsNorthwindOrder))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
          <Template Context="nwBlazorModelsNorthwindOrder">
            <div class="row">
              <div class="col-md-12 col-xl-1">
                <RadzenHeading Size="H2" Text="Details">
                </RadzenHeading>
              </div>
              <div class="col-md-12 col-xl-1">
                <RadzenButton Icon="add_circle_outline" Size="ButtonSize.Small" style="margin-bottom: 10px" Click="@((args) =>OrderDetailAddButtonClick(args, nwBlazorModelsNorthwindOrder))">
                </RadzenButton>
              </div>
              <div class="col-md-12 col-xl-10">
                <RadzenGrid @ref="grid1" AllowFiltering="false" AllowPaging="false" AllowSorting="true" Data="@(nwBlazorModelsNorthwindOrder.OrderDetails)" TItem="NwBlazor.Models.Northwind.OrderDetail" RowSelect="@((args) =>Grid1RowSelect(args, nwBlazorModelsNorthwindOrder))">
                  <Columns>
                    <RadzenGridColumn TItem="NwBlazor.Models.Northwind.OrderDetail" FilterProperty="Product.ProductName" Property="ProductID" SortProperty="Product.ProductName" Title="Product">
                      <Template Context="data">
                      @(data.Product?.ProductName)
                      </Template>
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NwBlazor.Models.Northwind.OrderDetail" Property="Quantity" Title="Quantity">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NwBlazor.Models.Northwind.OrderDetail" Property="Discount" Title="Discount">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NwBlazor.Models.Northwind.OrderDetail" Property="UnitPrice" Title="Unit Price">
                    </RadzenGridColumn>
                    <RadzenGridColumn TItem="NwBlazor.Models.Northwind.OrderDetail" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
                      <Template Context="nwBlazorModelsNorthwindOrderDetail">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>OrderDetailDeleteButtonClick(args, nwBlazorModelsNorthwindOrderDetail))" @onclick:stopPropagation="true">
                        </RadzenButton>
                      </Template>
                    </RadzenGridColumn>
                  </Columns>
                </RadzenGrid>
              </div>
            </div>
          </Template>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
